

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c0c0c0;
}

/* .body-div {

} */

/* HEADER */

/* NAV */

.main-logo {
  width: 50%;
  height: 50%;
}

/* // NAV */

/* SLIDER */
/* .slider-img {

/* } */
.slide {
  margin-top: 100px ;
  padding-top: 1.5em;
}
/* // SLIDER */

/* MAIN */

.main-div {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

/* IMAGE */
.image-div {
  background-repeat: space;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin: 10px;
  background-image: url(../images/travel.jpg);

  border-radius: 10px;
  height: 200px;
}

.carousel-inner{
  margin-left: 276px;
}
/* // IMAGE */

/* about*/
.about-section {
  padding: 4em 2em;
  text-align: center;
  height: 70%;
  color: #000000;
}

.about-section h2 {
  padding: 10px;
  font-weight: 600;
  color: #0F044C;
}

.about-section p {
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;

}


/* cast */
.cast-section h1{
  padding: 10px;
  font-weight: 600;
  color: #0F044C;
}
.cast-section_images{
  margin-left: 30px
}
.cast-section_images card{
  padding: 4px;
}


/* //cast */


/* season */
.season-section h2{

  padding: 10px;
  font-weight: 600;
  color: #0F044C;
  display: flex;
  margin-left: 50%;
}
.season-section ul li{
  display: inline-flex;
 justify-content: center;
 flex-direction: column;
 margin: 20px 17px 1px 60px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  display: flex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
}

/* //season */


<<<<<<< HEAD
.paraone{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paratwo{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.thumbnails {
  width: auto;
  margin: 10px;
  float: none;
}
=======
/* // about*/







/* // MAIN */

.wrapper-div {
  height: 100px;
}

/* FOOTER */
.footer {
<<<<<<< HEAD
  background: #303036;
  color: #e4e4e4;
  height: 100px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 18px;
}
=======
padding: 30px;
 text-align: center;
}

>>>>>>> f573011b2223e01d9eff170c488ef1a0c14ae99a



@media (min-width: 42.5em) {
  .main-logo {
    width: 25%;
    height: 25%;
  }
   .slider-img {
    width: 100%;
    height: 33em ;

  }
  .slide {
    margin-top: 50px ;
    padding-top: 30px;
  }
  .cast-section{
    padding: 5em;
  }
}
