

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #221f1f;
  
}

/* .body-div {

} */

/* HEADER */

/* NAV */

.main-logo {
  width: 50%;
  height: 50%;
}

/* // NAV */

/* SLIDER */
/* .slider-img {

/* } */
.slide {
  margin-top: 100px ;
  padding-top: 1.5em;
}
/* // SLIDER */

/* MAIN */

.main-div {
  width: 100%;
  height: 100%;
  margin-top: 10px;

}

/* IMAGE */
.image-div {
  background-repeat: space;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin: 10px;
  background-image: url(../images/travel.jpg);

  border-radius: 10px;
  height: 200px;
}


.carousel-inner{
  /* margin-left: 276px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  max-height: 500px;
  object-fit: cover;
}
/* // IMAGE */

/* about*/
.about-section {
  padding: 4em 2em;
  text-align: center;
  height: 70%;
  color:wheat;
}

.about-section h2 {
  padding: 10px;
  font-weight: 600;
  color: wheat;
}

.about-section p {
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;

}


/* cast */
.cast-section h1{
  padding: 10px;
  font-weight: 600;
  color: wheat;
}
.cast-section .cast-section_images{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap:1rem;

}

.cast-section_images .card{
  padding: 4px;

}

/* //cast */


/* season */
.season-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
}

.season-section h2{

  padding: 10px;
  font-weight: 600;
  color:cadetblue;
  display: flex;
  flex-wrap: wrap !important;
  text-align: center;
}
.season-section ul li{
  display: inline-flex;
 justify-content: center;
 flex-wrap: wrap !important;
 flex-direction: column;
 margin: 20px 17px 1px 60px;
}
.button:hover{
  font-size: 18px;
  background-color: #221f1f;
  color: white;
}
.button {
  background-color: #3a533a;
  border: none;
  color: wheat;
  padding: 15px 32px;
  display: flex;
  flex-wrap: wrap !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 14px;

  margin: 4px 2px;
  border: 1px solid black;
}

/* //season */


.paraone{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paratwo{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.thumbnails {
  width: auto;
  margin: 10px;
  float: none;
}

/* // about*/







/* // MAIN */

.wrapper-div {
  height: 100px;
}

/* FOOTER */
.footer {
  background: #303036;
  color: #e4e4e4;
  height: 100px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 18px;
  padding: 30px;
  text-align: center;
}

#castBtn{
  border-radius: 10px;
  font-size: larger;
  background-color: #221f1f;
  
color:wheat;
}
#castBtn:hover{
  height: 78px;
}


@media (min-width: 42.5em) {
  .main-logo {
    width: 25%;
    height: 25%;
  }
   .slider-img {
    width: 100%;
    height: 33em ;

  }

  .slide {
    margin-top: 50px ;
    padding-top: 30px;
  }
  .cast-section{
    padding: 5em;
  }
}

@media screen and (max-width:760px) {
  .cast-section .cast-section_images{
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
  }
}
@media screen and (max-width:640px) {
  .cast-section .cast-section_images{
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
  }
}
@media screen and (max-width:968px) {
  .cast-section .cast-section_images{
    grid-template-columns: repeat(5,1fr);
    gap:1rem;
  }
}
#brand{
  padding: 15px;
}
.mainpic{
display: flex;
justify-content: center;
align-items: center;
border-radius: 14px;
}