* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c0c0c0;
  /* margin: 2px 10px; */
}

/* .body-div {
 
} */

/* HEADER */

/* NAV */

.main-logo {
  width: 50%;
  height: 50%;
}

/* // NAV */

/* SLIDER */
/* .slider-img {
  width: 100%;
/* } */
.slide {
  margin-top: 100px ;
  padding-top: 1.5em;
} 
/* // SLIDER */

/* MAIN */

.main-div {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

/* IMAGE */
.image-div {
  background-repeat: space;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin: 10px;
  background-image: url(../images/travel.jpg);

  border-radius: 10px;
  height: 200px;
}

/* // IMAGE */

/* about*/
.about-section {
  padding: 4em 2em;
  text-align: center;
  height: 70%;
}

.about-section > .h1 {
  padding: 10px;
  font-weight: 600;
}

.about-section > .p {
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

<<<<<<< HEAD
.paraone{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paratwo{
  text-align: justify left;
  padding: 20px;
  font-weight: 30px;
  font-family: Arial, Helvetica, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.thumbnails {
  width: auto;
  margin: 10px;
  float: none;
=======
/* // about*/



/* cast */
.cast-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
 padding: 2.5em;
}
.cast-section>h1{
  padding: 10px;
}
.cast-section>p{
  padding: 20px;
  text-decoration: none;
  
}
.cast-section_images{
  display: flex;
flex-wrap: wrap;
gap: 10px;
}

/* //cast */



/* season */
.season-section{
  padding: 10px 30px 10px 0px;
>>>>>>> f573011b2223e01d9eff170c488ef1a0c14ae99a
  text-align: center;
}
.season-section>h2{
  margin-left: 50px;
}

.season-section>ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
/* //season */
/* // MAIN */

.wrapper-div {
  height: 100px;
}

/* FOOTER */
.footer {
<<<<<<< HEAD
  background: #303036;
  color: #e4e4e4;
  height: 300px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 18px;
}
=======
padding: 30px;
 text-align: center;
}

>>>>>>> f573011b2223e01d9eff170c488ef1a0c14ae99a



@media (min-width: 42.5em) {
  .main-logo {
    width: 25%;
    height: 25%;
  }
   .slider-img {
    width: 100%;
    height: 33em ;
    
  }
  .slide { 
    margin-top: 50px ;
    padding-top: 30px;
  }
  .cast-section{
    padding: 5em;
  }
}
